.list {
  list-style: none;
  margin-top: 0;
  z-index: 1;
  width: 70px;
  align-items: center;
  padding-left: 0;
  margin-top: 0.8rem;
}

.list > li {
  font-family: "Raleway";
  font-size: clamp(0.8rem, 1vw, 2rem);
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1f22;
  font-style: normal;
  cursor: pointer;
  /*  background-color: white; */
}
.list > li > img {
  margin-left: 1rem;
}

/* .list > li > img {
  height: 3px;
  margin-left: 0;
} */
.inner {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  overflow-y: hidden;
}
.inner > li {
  font-family: "Raleway";
  font-size: clamp(0.9rem, 1vw, 2rem);
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1f22;
  font-style: normal;
  cursor: pointer;
}
.inner > li:hover {
  background-color: #eeeeee;
}
@media only screen and (max-width: 520px) {
  .list {
    width: 45px;
  }
  .inner {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 4;
    background: #1d1f22;
  }
  .inner > li {
    width: 100%;
    text-align: center;
    color: white;
    z-index: 4;
  }
  .list > li > img {
    width: 6px;
    margin-left: 1rem;
  }
}
